<div *ngIf="course; else noCourse" class="max-w-[75vw] mx-auto bg-white p-8 rounded-lg shadow-lg mb-8">
    <h1 class="text-4xl font-bold text-gray-800 mb-4">{{ course?.course }}</h1>
    <p class="text-lg text-gray-600 mb-6">{{ course?.detail }}</p>
  
    <h2 class="text-2xl font-semibold text-gray-800 mb-4 border-b pb-2">Asignaturas</h2>
    <ul class="space-y-4">
      <li *ngFor="let subject of course?.subjects" class="flex justify-between items-center p-4 border rounded-lg bg-custom-gray hover:bg-custom-green transition duration-200">
        <a [routerLink]="['/getSubject', subject?.id]" class="text-custom-purple hover:underline">{{ subject?.name }}</a>
        <span class="text-gray-500">Horarios: {{ subject?.days!.join(', ') }}, {{ subject?.schedule }}</span>
      </li>
    </ul>
  
    <h2 class="text-2xl font-semibold text-gray-800 mb-4 border-b pb-2 mt-8">Alumnos</h2>
    <ul class="space-y-4">
      <li *ngFor="let student of course?.students" class="flex justify-between items-center p-4 border rounded-lg bg-custom-gray hover:bg-custom-green transition duration-200">
        <a [routerLink]="['/user', student?.id]" class="text-custom-purple hover:underline">{{ student?.firstName }} {{ student?.lastName }}</a>
        <span class="text-gray-500">DNI: {{ student?.dni }}</span>
      </li>
    </ul>
</div>

<ng-template #noCourse>
    <p class="text-lg text-red-500 text-center">El curso no se pudo cargar. Por favor, intenta nuevamente.</p>
</ng-template>
