<div class="max-w-[75vw] mx-auto bg-white p-8 rounded-lg shadow-md">
    <div class="flex justify-center mb-6">
        <img 
            src="avatar.jpg" 
            alt="Foto del usuario" 
            class="rounded-full w-[182px] h-[182px] opacity-100"
            style="position: relative; top: 0; left: 0; gap: 0px;"
        />
    </div>

    <form [formGroup]="userForm" class="w-full max-w-[851px] mx-auto">
        <div class="mb-4">
            <label class="block text-left font-inter font-normal text-[24px] leading-[29.05px] mb-2 opacity-50">
                Correo electrónico*
            </label>
            <input 
                type="email" 
                formControlName="correo"
                placeholder="Ingrese su correo electrónico" 
                [ngClass]="{
                    'shadow-gray-400': !isEditable,
                    'shadow-custom-green': isEditable,
                    'shadow-custom-pink': getCorreo()?.invalid && getCorreo()?.touched
                }"
                class="border border-gray-300 w-full h-[61px] p-4 text-[24px] leading-[29.05px] placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600 shadow-md"
            />
        </div>
    
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="mb-4 flex flex-col">
                <label class="font-inter text-[24px] font-normal leading-[29.05px] text-left opacity-50">Nombre/s*</label>
                <input 
                    type="text" 
                    formControlName="firstname" 
                    placeholder="Ingrese su nombre" 
                    [ngClass]="{
                        'shadow-gray-400': !isEditable,
                        'shadow-custom-green': isEditable,
                        'shadow-custom-pink': getFirstname()?.invalid && getFirstname()?.touched
                    }"
                    class="w-full h-[61px] border border-gray-300 p-4 text-[24px] leading-[29.05px] placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600 shadow-md"
                />
            </div>
    
            <div class="mb-4 flex flex-col">
                <label class="font-inter text-[24px] font-normal leading-[29.05px] text-left opacity-50">Apellido/s*</label>
                <input 
                    type="text" 
                    formControlName="lastname" 
                    placeholder="Ingrese su apellido" 
                    [ngClass]="{
                        'shadow-gray-400': !isEditable,
                        'shadow-custom-green': isEditable,
                        'shadow-custom-pink': getLastname()?.invalid && getLastname()?.touched
                    }"
                    class="w-full h-[61px] border border-gray-300 p-4 text-[24px] leading-[29.05px] placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600 shadow-md"
                />
            </div>
    
            <div class="mb-4 flex flex-col">
                <label class="font-inter text-[24px] font-normal leading-[29.05px] text-left opacity-50">Fecha de nacimiento*</label>
                <input 
                    type="date" 
                    formControlName="birth" 
                    [ngClass]="{
                        'shadow-gray-400': !isEditable,
                        'shadow-custom-green': isEditable,
                        'shadow-custom-pink': getBirth()?.invalid && getBirth()?.touched
                    }"
                    class="w-full h-[61px] border border-gray-300 p-4 text-[24px] leading-[29.05px] placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600 shadow-md"
                />
            </div>
    
            <div class="mb-4 flex flex-col">
                <label class="font-inter text-[24px] font-normal leading-[29.05px] text-left opacity-50">DNI*</label>
                <input 
                    type="text" 
                    formControlName="dni" 
                    placeholder="Ingrese su DNI" 
                    [ngClass]="{
                        'shadow-gray-400': !isEditable,
                        'shadow-custom-green': isEditable,
                        'shadow-custom-pink': getDni()?.invalid && getDni()?.touched
                    }"
                    class="w-full h-[61px] border border-gray-300 p-4 text-[24px] leading-[29.05px] placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600 shadow-md"
                />
            </div>
    
            <div class="mb-4 flex flex-col">
                <label class="font-inter text-[24px] font-normal leading-[29.05px] text-left opacity-50">Rol*</label>
                <input 
                    type="text" 
                    formControlName="rol" 
                    placeholder="Ingrese su rol" 
                    [ngClass]="{
                        'shadow-gray-400': !isEditable,
                        'shadow-custom-green': isEditable,
                        'shadow-custom-pink': getRol()?.invalid && getRol()?.touched
                    }"
                    class="w-full h-[61px] border border-gray-300 p-4 text-[24px] leading-[29.05px] placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600 shadow-md"
                />
            </div>
    
            <div class="mb-4 flex flex-col">
                <label class="font-inter text-[24px] font-normal leading-[29.05px] text-left opacity-50">Legajo (Sólo profesores)</label>
                <input 
                    type="text" 
                    formControlName="legajo" 
                    placeholder="Ingrese su legajo" 
                    [ngClass]="{
                        'shadow-gray-400': !isEditable,
                        'shadow-custom-green': isEditable,
                        'shadow-custom-pink': getLegajo()?.invalid && getLegajo()?.touched
                    }"
                    class="w-full h-[61px] border border-gray-300 p-4 text-[24px] leading-[29.05px] placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600 shadow-md"
                />
            </div>
    
            <div class="mb-4 flex flex-col">
                <label class="font-inter text-[24px] font-normal leading-[29.05px] text-left opacity-50">Domicilio</label>
                <input 
                    type="text" 
                    formControlName="domicilio" 
                    placeholder="Ingrese su domicilio" 
                    [ngClass]="{
                        'shadow-gray-400': !isEditable,
                        'shadow-custom-green': isEditable,
                        'shadow-custom-pink': getDomicilio()?.invalid && getDomicilio()?.touched
                    }"
                    class="w-full h-[61px] border border-gray-300 p-4 text-[24px] leading-[29.05px] placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600 shadow-md"
                />
            </div>
    
            <div class="mb-4 flex flex-col">
                <label class="font-inter text-[24px] font-normal leading-[29.05px] text-left opacity-50">Localidad</label>
                <input 
                    type="text" 
                    formControlName="localidad" 
                    placeholder="Ingrese su localidad" 
                    [ngClass]="{
                        'shadow-gray-400': !isEditable,
                        'shadow-custom-green': isEditable,
                        'shadow-custom-pink': getLocalidad()?.invalid && getLocalidad()?.touched
                    }"
                    class="w-full h-[61px] border border-gray-300 p-4 text-[24px] leading-[29.05px] placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600 shadow-md"
                />
            </div>
    
            <div class="mb-4 flex flex-col">
                <label class="font-inter text-[24px] font-normal leading-[29.05px] text-left opacity-50">Teléfono*</label>
                <input 
                    type="text" 
                    formControlName="telefono" 
                    placeholder="Ingrese su teléfono" 
                    [ngClass]="{
                        'shadow-gray-400': !isEditable,
                        'shadow-custom-green': isEditable,
                        'shadow-custom-pink': getTelefono()?.invalid && getTelefono()?.touched
                    }"
                    class="w-full h-[61px] border border-gray-300 p-4 text-[24px] leading-[29.05px] placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600 shadow-md"
                />
            </div>
        </div>
    </form>
    
    <!-- Sección botones fuera del formulario -->
    <div class="flex flex-col md:flex-row justify-end space-y-4 md:space-y-0 md:space-x-4 mt-4 w-full max-w-[851px] mx-auto">
        <button 
            type="button" 
            (click)="confirmarModificacion()"
            class="bg-custom-green text-white font-inter text-[24px] leading-[29.05px] h-[56px] rounded-md shadow-md hover:bg-green-700 transition-colors duration-300 w-full md:w-[170px]">
            Guardar
        </button>
        <button 
            type="button" 
            (click)="cerrarModal()"
            class="bg-custom-pink text-white font-inter text-[24px] leading-[29.05px] h-[56px] rounded-md shadow-md hover:bg-pink-700 transition-colors duration-300 w-full md:w-[170px]">
            Cancelar
        </button>
    </div>
</div>